LLM_MODEL="gemini/gemini-1.5-flash"

GEMINI_API_KEY=AIzaSyAyIccc5VNr1HYzX_CIxrgbHuII7cPSU6Q

# MySQL Configuration
MYSQL_ROOT_PASSWORD="2KPe)RL!7Xaa!(pEhXbFO"
MYSQL_DATABASE="deepmodeling-sessions"
MYSQL_USER="demo"
MYSQL_PASSWORD="2KPe)RL!7Xaa!(pEhXbFO"

# Session Configuration
SESSION_ID=default_session
